<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .main-image {
    width: 50%;
    height: auto;
    margin: 5px;
  }
  .lookbook-image {
    width: 100%;
    height: auto;
  }
  .main-description {
    text-align: center;
    width: 50%;
  }
  .main-content {
    width: 50%;
    display: flex;
    justify-content: center;
  }
</style>

<div class="container">
  <div class="main-image">
    {% assign image = section.settings.image %}
    {% if image != blank %}
      <img class="lookbook-image" src="{{ image | image_url  }}" alt="{{ image.alt | default: 'look book image' }}">
    {% else %}
      {{ 'image' | placeholder_svg_tag: 'placeholder' }}
    {% endif %}
  </div>
  <div class="main-content">
    {% if section.blocks != blank %}
        <table class="products-table">
        {% for block in section.blocks %}
            {% assign prod = block.settings.lookbookproduct %}
          <div class="products">
            <tr>
                <td>
                    {% if prod.featured_media != blank %}
                        <img src="{{ prod.featured_media | image_url | image_url: width: 100 }}" alt="{{ prod.featured_media.alt }}">
                        {% else %}
                        {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}
                    {% endif %}
                    
                </td>
            </tr>
          </div>
        {% endfor %}
      </table>
    {% else %}
    <div class="main-description">
        {{ section.settings.description }}
      </div>
    {% endif %}
  </div>
</div>
{% schema %}
{
  "name": "lookbook section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "look book image"
    },
    {
      "type": "text",
      "id": "description",
      "default": "Example description",
      "label": "Example description"
    }
  ],
  "blocks": [
    {
      "type": "look",
      "name": "lookbook_product",
      "settings": [
        {
          "type": "product",
          "id": "lookbookproduct",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "lookbook",
      "name": "lookbook section",
      "blocks": [
        {
          "type": "look"
        }
      ]
    }
  ]
}
{% endschema %}
