<style>
    .container{
       
    }
  .main-image {
    width: 50%;
    height: auto;
    margin: 5px;
  }
  .lookbook-image{
    width: 100%;
    height: auto;
  }
</style>

<div class="container">
  <div class="main-image">
    {% assign image = section.settings.image %}
    {% if image != blank %}
      <img class="lookbook-image" src="{{ image | image_url  }}" alt="{{ image.alt | default: 'look book image' }}">
    {% else %}
      {{ 'image' | placeholder_svg_tag: 'placeholder' }}
    {% endif %}
  </div>
  <div class="main-content">
    {% if section.blocks.settings.product == blank %}
        <div class="main-description">
            {{ section.settings.description }}
        </div>
    {% else %}
        {% for block in section.blocks %}
            <div class="block">
                {{ block.content }}
            </div>
        {% endfor %}
    {% endif %}
</div>
</div>
{% schema %}
{
  "name": "lookbook section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "look book image"
    },
    {
      "type": "text",
      "id": "description",
      "default": "Example description",
      "label": "Example description"
    }
  ],
  "blocks": [
    {
      "type": "look",
      "name": "lookbook_product",
      "settings": [
        {
          "type": "product",
          "id": "lookbook_product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "lookbook",
      "name": "lookbook section",
      "blocks": [
        {
          "type": "look"
        }
      ]
    }
  ]
}
{% endschema %}
